<section class="categories-container">
  <div class="categories-header">
      <div class ="hamburger">
        <%= image_tag "hamburger.png", alt: "Hamburger Icon", class: "hamburger-img"%>
      </div>
      <h2>TRANSACTIONS</h2>
      <div class ="search">
        <%= image_tag "search.png", alt: "Search Icon", class: "search-img"%>
      </div>
  </div>
  <div class="categories-subheader">
      <div>
          <p class="left"> Most ancient</p>
      </div>
      <div>
      <p> Most recent</p>
      </div>
      <div class="dummy" >Not to show</div>
  </div>
  <ul class="entities">
     <% @entities.each do |entity| %>
        <li class="entity-container">
            <div class="entity-icon">
                <%= image_tag "piggy-bank.png", alt: "Entity Icon", class: "entity-img"%>
            </div>
            <div class="entity-name-container">
              <h3>
                <%= link_to entity.name, entity_path(entity), { class: "entity-name" } %>
              </h3>
              <p class="entity-updated">
                <%= entity.updated_at.strftime('%d %b %Y')%>
              </p>
            </div>
            <p class="entity-amount">$ <%= entity.amount%></p>
        </li>
    <% end %>
  </ul>
  <div class="new-category-container">
    <%= button_to "ADD CATEGORY", new_entity_path,  method: :get, class: "new-category" %>
  </div>
</section>