<%= form_with model: @entity, url: entitys_path, method: :post, local: true, html: { class: "new-category-form" } do |f|%>
  <div class="new-category-header">
    <div class ="back-arrow">
      <%= link_to entitys_path do %>
      <%= image_tag "back_arrow.png", alt: "Back Arrow", class: "back-arrow-img"%>
      <% end %>
    </div>
    <h2>ADD CATEGORY</h2>
    <%= f.submit "Create", class: "submit-new-category" %>
  </div>
   <div class="field-name-new-category">
    <%= f.text_field :name, autocomplete: "Entity name", placeholder: "Name", class: "login-field"%>
  </div>
<%end%>
